/***************
    General Styling
***************/
body {
    background-color: #000;
}

h1 {
    font-family: Roboto Mono;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.content-container {
    width: 50%;
    margin: auto;
    color: white;
}

/***************
    Header
***************/
.header {
    background: linear-gradient(90deg, #4D4F48 0%, #000000 100%);
    border-radius: 4px;
    margin-top: 72px;
}

#subreddit-prefix {
    display: inline-block;
    color: #fff;
    margin: 16px 0 16px 24px;
}

#subreddit {
    display: inline-block;
    color: #C9F646;
    margin: 16px 0;
}

/***************
    Posts
***************/
.post {
    width: 100%;
    margin: 40px 0;

    border: 1px solid #919487;
    box-sizing: border-box;
    border-radius: 4px;
}

.post-title {
    margin: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.post-footer {
    border-top: 1px dashed #919487;
}

.comments {
    margin: 24px;
    color: #C9F646;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-block
}

.author {
    float: right;
    display: inline-block;
    margin: 24px;

    color: #919487;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.post:hover {
    background: #4D4F48;
    border: 1px solid #C9F646;
    box-sizing: border-box;
    border-radius: 4px;
    color: #C9F646;
    cursor: pointer;
}

.post:hover .author {
    color: #C9F646;
}

.post:hover .post-footer {
    border-top: 1px dashed #C9F646;
}


/***************
    Buttons
***************/
#btn-section {
    margin-bottom: 96px;
}

.btn {
    border-radius: 4px;
    background-color: #C9F646;
    padding: 16px;
    display: inline-block;

    color: #000;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

#btn-section .btn:hover {
    background: #9BCC0F;
    color: #000;
}

#btn-section .btn:active {
    background-color: #E9EBE1;
}

.btn-greyed {
    background-color: #000;
    color: #4D4F48;
}

#btn-section .btn-greyed:hover, #btn-section .btn-greyed:active {
    background-color: #000;
    color: #4D4F48;
    cursor: default;
}

#btn-section .btn:focus {
    box-shadow: none;
}

#btn-next {
    float: right;
}

/***************
    Breakpoints
***************/

/* L */
@media only screen and (max-width: 1230px) {
    .content-container {
        width: 60%;
    }

    .header {
        margin-top: 64px;
    }

    #subreddit-prefix {
        margin: 8px 0 8px 16px;
    }

    #subreddit {
        margin: 8px 0;
    }


    #btn-section {
        margin-bottom: 80px;
    }

}

/* M */
@media only screen and (max-width: 992px) {
    .content-container {
        width: 75%;
    }

}

/* S */
@media only screen and (max-width: 768px) {
    .content-container {
        width: 90%;
    }

    .header {
        margin-top: 48px;
    }

    .post {
        margin: 32px 0;
    }

}

/* XS */
@media only screen and (max-width: 576px) {
}
